<template lang="pug">
.preview-bar
  button.preview-bar__help(
    @click="$emit('toggle-help')"
    type='button' 
    :class="helpVisible ? 'preview-bar__help--active': null"
  )
  button.preview-bar__hints(type='button')
  button.preview-bar__design-mode(type='button')
  button.preview-bar__floating-controller(type='button')
</template>

<script>
export default {
  props: [
    'helpVisible'
  ],
}
</script>

<style lang="sass">
@import '~@/assets/styles/mixins'

.preview-bar
  +items-hgap(9px)
  display: flex
  padding: 9px
  align-items: center
  justify-items: center
  background: #ddd6dd

.preview-bar > *
  height: 36px
  width: 36px

.preview-bar
  &__help
    +image-button('~@/assets/images/controls/buoy.png')
  &__hints
    +image-button('~@/assets/images/controls/help.png')
    margin-right: auto
  &__design-mode
    +image-button('~@/assets/images/controls/crane.png')
    margin-left: auto
  &__floating-controller
    +image-button('~@/assets/images/controls/floating_controller.png')

.preview-bar__help--active
  background-image: url('~@/assets/images/controls/buoy-active.png')
</style>
