$fa-font-path: '~font-awesome/webfonts'
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss'

@font-face
	font-family: 'Rubik'
	src: url(~@/assets/fonts/Rubik-Regular.eot)
	src: url(~@/assets/fonts/Rubik-Regular.eot?#iefix) format('embedded-opentype')
  src: url(~@/assets/fonts/Rubik-Regular.woff) format('woff')
	src: url(~@/assets/fonts/Rubik-Regular.ttf) format('truetype')
	font-weight: normal
	font-style: normal

html, body
  height: 100%
  margin: 0
  padding: 0
  font-family: Arial
  overflow-x: hidden
